*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image:url(images/2.png);
    background-size: 40vh;
    background-position: right;

    display: flex;
    justify-content: center; /* Відцентрування по горизонталі */
    align-items: center; /* Відцентрування по вертикалі */
    height: 100dvh; /* Забезпечує, щоб body займало весь видимий екран */
}
.content{
    display: flex;
    justify-content: center; /* Відцентрування по горизонталі */
    align-items: center; /* Відцентрування по вертикалі */
    width: 32vh;
    height: 26vh;
    background-color: rgb(234, 221, 205);
    padding: 4vh 12vw;
    border-radius: 10%;
}
.gif{
    width: 12vh;
    padding-bottom: 25px;
}